<mat-toolbar color = "primary">
  <button mat-icon-button >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink = "/home"> Home </button>
  <button mat-button routerLink = "/profile"> Profile </button>
  <button mat-button [matMenuTriggerFor]="importMenu"> Import </button>
 <button mat-raised-button routerLink="/login"> Login </button>
  <mat-menu #importMenu yPosition="below">
    <button mat-menu-item>Load chi 7aja</button>
    <button mat-menu-item> chi 7aja akhra</button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" opened="false" position="start">
    <mat-list>
      <button mat-button>
        Test1
      </button>

    </mat-list>
    <mat-list>
      <button mat-button>
        Test2
      </button>

    </mat-list>
  </mat-drawer>
<mat-drawer-content>
  <div style="min-height: 600px">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-content>
</mat-drawer-container>
